body {
  display: flex;
  flex-direction: column;
  gap: 0.5em;

  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  --line-height: 1.25;
  line-height: var(--line-height);
}

details {
  border: 1px solid #aaa;
  border-radius: 4px;
  /*padding: 0.5em 0.5em 0;*/

  flex-shrink: 0;
}

/*details[open] {
  padding: 0.5em;
}*/

summary {
  font-weight: bold;
  padding: 0.5em;
}

details[open] summary {
  border-bottom: 1px solid #aaa;
}

.result {
  flex-grow: 1;
  position: relative;
}
.result summary {
  list-style: none;
  pointer-events: none;
}
.result > div {
  position: absolute;
  overflow: auto;
  left: 0;
  top: calc(var(--line-height) * 1rem + 0.5em * 2 + 1px);
  right: 0;
  bottom: 0;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
}

input,
select {
  font-size: 0.75rem;
  padding: 0.25em;
}

.code {
  flex-direction: column;
  gap: 0.25em;
  display: grid;
}

.code > div,
.code > textarea {
  grid-column-start: 1;
  grid-row-start: 1;
  white-space: pre-wrap;
  font-family: "Courier New", Courier, monospace;
  font-size: 1em;
  padding: 0.5em;
  padding-left: 1.5em;
  margin: 0;
  border: 1px solid lightgray;
  line-height: var(--line-height);
  overflow: hidden;
  --tab-size: 2;
  tab-size: var(--tab-size);
  word-wrap:break-word;
  margin: 0.5rem;
}

.code > textarea {
  background: transparent;
  color: transparent;
  caret-color: black;
  z-index: 1;
}

.code > textarea:focus + div > span.text {
  --space-count: 0;
  padding-left: calc(1ch * var(--space-count));
}

.code > textarea:not(:focus) + div > span.text {
  --space-count: 0;
  padding-left: calc(1ch * var(--space-count));
  /*text-indent: calc(1ch * var(--space-count));*/
  display:inline-block;
}

.code span {
  position: relative;
}

.code .indicator {
  position: absolute;
  border-radius: 3px;
  width: 0.75em;
  height: 0.75em;
  top: 0.125em;
  left: -1em;
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;
}
.code .bad {
  color: gray;
}
.code .indicator.ok {
  background-color: #54b27cDF;
  color: white;
}
.code .indicator.ok::after {
  content: '✓';
}

textarea {
  resize: none;
}

.no-pointer-event {
  pointer-events: none;
}

.details {
  display: inline-grid;
  grid-template-columns: repeat(var(--columns), min-content);
  white-space: nowrap;
  border: 1px solid lightgray;
  border-radius: 4px;
  margin: 0.5rem;
}

.details > div {
  padding: 0.25rem;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  background-color: white;
  min-width: 3ch;
  min-height: 3ch;
}
.overview > div {
  align-items: center;
  justify-content: center;
}

.details > div.corner {
  font-size: 0.75em;
  min-height: 1.5rem;
  min-width: 5rem;
}
.overview > div.corner {
  min-width: 1.5rem;
  min-height: 1rem;
}
.details > div.corner svg {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}
.details > div.corner > span:first-child {
  position: absolute;
  left: 0.25rem;
  bottom: 0;
}
.details > div.corner > span:not(:first-child) {
  position: absolute;
  right: 0.25rem;
  top: 0;
}

.details > div.header {
  text-align: center;
  justify-content: center;
}

.details > div:not(.header.row) {
  border-left: 1px solid gray;
}

.details > div:not(.header.col) {
  border-top: 1px solid black;
}

.details > .header.col {
  position: sticky;
  top: 0;
  z-index: 2;
  border-bottom: 1px solid black;
  margin-bottom: -1px;
}

.details > .header.row:not(.col) {
  position: sticky;
  left: 0;
  z-index: 1;
  border-right: 1px solid black;
  margin-right: -1px;
}
