html {
  padding: 0;
  margin: 0;
}

body {
  margin: 0;

  --line-height: 1.25;
  line-height: var(--line-height);

  font-family: monospace;
  font-size: 12px;
}

body {
  display: grid;

  height: 100vh;
  max-height: 100vh;
  max-width: 100vw;
  box-sizing: border-box;

  grid-template-rows:
    min-content
    min-content
    fit-content(100%)
    fit-content(100%);
  grid-auto-flow: column;
}

.code-section {
  border-top: 1px solid black;
}

.code-section > .section > div {
  overflow: visible;
}
.code-section:has(.settings > .section[data-open]) > .section > div {
  padding-right: calc(15rem + 1px);
}

.overview-section {
  overflow: hidden;
  border-top: 1px solid black;
  min-height: 1rem;
  max-height: min-content;
}
.overview-section:has([data-open]) {
  min-height: 5rem;
}

.probability-section {
  border-top: 1px solid black;
  overflow: hidden;
  min-height: 1rem;
  max-height: min-content;
}
.probability-section:has([data-open]) {
  min-height: 5rem;
}

.code-overview {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: min-content;
}
.overview {
  overflow: hidden;
}
.code-overview + div {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.probability {
  overflow: hidden;
}


.sticky {
  position: sticky;
  top: 0;
  z-index: 10;
  background: white;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  border-top: 0.5rem solid white;
  margin-top: -0.5rem;
}

.section {
  display: flex;
  flex-direction: column;
  max-height: 100%;
}

.section > div {
  position: relative;
}

.settings {
  max-width: 15rem;
  width: 100%;
  margin-top: calc(-1em - 5px - 5px);
  z-index: 0;
  position: absolute;
  background: white;
  right: 0;
  top: 0;
}
.settings:has(.section[data-open]) {
  bottom: 0;
  border-left: 1px solid black;
  z-index: 2;
}

summary {
  padding: 5px;
  height: 1em;

  display: flex;
  align-items: center;
  justify-content: flex-start;

  flex-shrink: 0;
}
summary > span:not(:first-child) {
  margin-left: 15px;
}
summary > span:first-child {
  font-weight: bold;
}

.section > summary::before {
  display: inline-block;
  content: '⏵';
  margin-right: 5px;
}
.section[data-open] > summary::before {
  content: '⏷';
}

.section[data-open] > summary {
  /*padding-bottom: 0;*/
}

.section:not([data-open]) > div {
  height: 0;
  overflow: hidden;
  visibility: hidden;
}
.section > div {
  scrollbar-gutter: stable;
  flex-shrink: 1;
  overflow: auto;
}

.overview {
  flex-grow: 1;
  position: relative;
}
.overview summary {
  /*list-style: none;
  pointer-events: none;*/
}
.probability summary {
  /*list-style: none;
  pointer-events: none;*/
}

.overview > div {
  /*position: absolute;*/
  overflow: auto;
  /*left: 0;
  top: calc(var(--line-height) * 1rem + 0.5em * 2 + 1px);
  right: 0;
  bottom: 0;*/
}

input,
select {
  font-size: 1em;
  padding: 5px;
}

div:has(> .code) {
  overflow: visible;
}

.code {
  flex-direction: column;
  gap: 5px;
  display: grid;
  padding: 5px;
  padding-top: 0px;
}

.code > div,
.code > textarea {
  grid-column-start: 1;
  grid-row-start: 1;
  white-space: pre-wrap;
  font-family: "Courier New", Courier, monospace;
  font-size: 1em;
  margin: -2px;
  padding: 2px;
  margin-left: 1.5em;
  line-height: var(--line-height);
  --tab-size: 2;
  tab-size: var(--tab-size);
  word-wrap:break-word;
  border: 1px solid transparent;
  border: 1px dotted gray;

}
.code > textarea:focus {
  border: 1px solid gray;
  outline: none;
}

.code > textarea {
  background: transparent;
  color: transparent;
  caret-color: black;
  z-index: 1;
}

.code > textarea:focus + div > span.text {
  --space-count: 0;
  padding-left: calc(1ch * var(--space-count));
}

.code > textarea:not(:focus) + div > span.text {
  --space-count: 0;
  padding-left: calc(1ch * var(--space-count));
  /*text-indent: calc(1ch * var(--space-count));*/
  display:inline-block;
}

.code span {
  position: relative;
}

.code .indicator {
  position: absolute;
  border-radius: 3px;
  width: 0.75em;
  height: 0.75em;
  top: 0.125em;
  left: -1.2em;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
}
.code .bad {
  color: #b25454df;
  text-decoration-line: underline;
  text-decoration-style: wavy;
  text-decoration-color: red;
}
.code .comment {
  color: gray;
  font-style: italic;
}
.code .ok {
  color: black;
}
.code .indicator.bad {
  background-color: #b25454df;
  color: white;
}
.code .indicator.ok {
  background-color: #54b27cDF;
  color: white;
  transform: scale(0.75);
}

textarea {
  resize: none;
}

.no-pointer-event {
  pointer-events: none;
}

.table {
  display: inline-grid;
  grid-template-columns: repeat(var(--columns), min-content);
  white-space: nowrap;
  margin: 5px;
  margin-top: 0;
  font-size: 10px;
}

.table > div {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  background-color: white;
  min-width: 5ch;
  font-family: monospace;
  padding: 3px 6px;
}
.table > div > svg {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
.overview .table > div {
  align-items: center;
  justify-content: center;
}

.table > div.corner {
  min-height: 1.5rem;
  min-width: 4rem;
}
.overview .table > div.corner {
  min-width: 1.5rem;
  min-height: 1rem;
}
.table > div.corner svg {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}
.table > div.corner > span:first-child {
  position: absolute;
  left: 0.25rem;
  bottom: 0;
}
.table > div.corner > span:not(:first-child) {
  position: absolute;
  right: 0.25rem;
  top: 0;
}

.table > div.header {
  text-align: center;
  justify-content: center;
}

.table > div:not(.header) {
  border-left: 1px solid gray;
  border-top: 1px solid black;
}

.table > .header.col {
  position: sticky;
  top: 0;
  z-index: 3;
  border-bottom: 1px solid black;
  margin-bottom: -1px;
  border-left: 1px solid black;
}

.table > .header.row {
  position: sticky;
  left: 0;
  z-index: 2;
  border-right: 1px solid black;
  margin-right: -1px;
  border-top: 1px solid black;
}

.table > .header.col.row {
  position: sticky;
  left: 0;
  top: 0;
  z-index: 4;
  border-right: 1px solid black;
  margin-right: -1px;
  border-bottom: 1px solid black;
  margin-bottom: -1px;
  border-left: none;
  border-top: none;
}

.selectable {
  cursor: pointer;
}
.selectable:hover::after {
  display: block;
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background: #b0c1d7;
  mix-blend-mode: multiply;
  pointer-events: none;
}
.selectable.selected {
  font-weight: bold;
}

.selectable.selected::after {
  display: block;
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  pointer-events: none;
  /*background: rgb(71 99 255 / 0.4);*/
  mix-blend-mode: multiply;
  z-index: 1;
  border: 2px solid rgb(71 99 255 / 1.0);
}

.probability > div {
  /*max-height: 15rem;*/
  overflow: auto;
}


.table.pivot {
  grid-auto-flow: column;
  grid-template-columns: unset;
  grid-template-rows: repeat(var(--columns), min-content);
}

.table.pivot > .header.row {
  position: sticky;
  top: 0;
  z-index: 3;
  border-bottom: 1px solid black;
  margin-bottom: -1px;
  border-left: 1px solid black;
  border-right: 1px solid lightgray;
  border-top: none;
}

.table.pivot > .header.col {
  position: sticky;
  left: 0;
  z-index: 2;
  border-right: 1px solid black;
  margin-right: -1px;
  border-top: 1px solid black;
  border-left: none;
  border-bottom: 1px solid lightgray;
}

.table.pivot > div.corner {
  border-top: none !important;
}

.table.pivot > div.corner > span:not(:first-child) {
  position: absolute;
  left: 0.25rem;
  bottom: 0;
  right: unset;
  top: unset;
}
.table.pivot > div.corner > span:first-child {
  position: absolute;
  right: 0.25rem;
  top: 0;
  left: unset;
  bottom: unset;
}

.header-info {
  position: fixed;
  right: 0;
  bottom: 0;
  color: lightgray;
  padding: 0.5rem;
  text-align: right;
  pointer-events: none;
  z-index: 100;
  mix-blend-mode: multiply;
}
h1, h2 {
  margin: 0;
  padding: 0;
}

.nothing-selected {
  padding-left: calc(15px + 5px);
  color: gray;
}

.flex-grow {
  flex-grow: 1;
}

button {
  font-size: inherit;
  font-family: inherit;
  padding: 1px;
}
