{{#if this.state.loaded}}
  <Section @caption="Code" @open={{true}}>
    <Code />
  </Section>

  <Section @caption="Overview" class="overview">
    <Overview />
  </Section>
  {{#if this.state.hasSelected}}
    <Section @caption="Probability" class="probability">
      <Details />
    </Section>
  {{/if}}
{{else}}
  Loading..
{{/if}}