{{#if this.state.loaded}}
  <div class="code-section">
    <Code />
  </div>
  <div class="overview-section">
    <Overview />
  </div>
  <div class="probability-section">
    <Details />
  </div>
{{else}}
  Loading..
{{/if}}