<Section @caption="Code" @open={{true}}>
  <Code />
  <hr>
  <button type="button">Simulate</button>
</Section>

<Section @caption="Result" class="result" @open={{true}}>
  <ResultTable />
</Section>
