{{#if this.state.loaded}}
  <div class="code-overview">
    <Section @caption="Code" class="code-section" @open={{true}}>
      <Code />
    </Section>

    <Section @caption="Overview" class="overview">
      <Overview />
    </Section>
  </div>
  <div>
    {{#if this.state.hasSelected}}
      <Section @caption="Probability" class="probability">
        <Details />
      </Section>
    {{/if}}
  </div>
{{else}}
  Loading..
{{/if}}