<Section @caption="Code" @open={{true}}>
  Test-Case
</Section>

<Section @caption="Settings" @open={{false}}>
  Settings
</Section>

<Section @caption="Result" class="result" @open={{true}}>
  {{!-- hier das zeugs --}}
</Section>
