<Section @caption="Code" @open={{true}}>
  <Code />
  <hr>
  <button type="button">Simulate</button>
</Section>

<Section @caption="Result" class="result" @open={{true}}>
  <div class="result-left">

  </div>
  <div class="result-diff">

  </div>
  <div class="result-right">

  </div>
</Section>
