{{#if this.state.loaded}}
  <div class="header-section">
    <summary>
      <span>Weiß Schwarz</span>
      <span>Probability Calculator</span>
      <span class="flex-grow"></span>
      {{#if this.canShare}}
        <span><button {{on "click" this.share}}>share</button></span>
      {{/if}}
      <span><button {{on "click" this.help}}>help</button></span>
      <span><button {{on "click" this.reset}}>reset</button></span>
    </summary>
  </div>
  <div class="code-section">
    <Code/>
  </div>
  <div class="overview-section">
    <Overview />
  </div>
  <div class="probability-section">
    <Probability />
  </div>
{{else}}
  Loading..
{{/if}}