{{#if this.state.loaded}}
  <div class="code-section">
    <Section @name="code_open">
      <:header>
        <span>Code</span>
      </:header>
      <:default>
        <Code />
      </:default>
    </Section>
  </div>
  <div class="overview-section">
    <Section @name="overview_open">
      <:header>
        <span>Overview</span>
        <span>weighted average damage</span>
      </:header>
      <:default>
        <Overview />
      </:default>
    </Section>
  </div>
  <div class="probability-section">
    <Section @name="probability_open">
      <:header>
        <span>Probabilites</span>
        <span>%</span>
      </:header>
      <:default>
        {{#if this.state.hasSelected}}
          <Probability />
        {{else}}
          <div class="nothing-selected">
            nothing selected in overview
          </div>
        {{/if}}
      </:default>
    </Section>
  </div>
{{else}}
  Loading..
{{/if}}